<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Barang</title>
</head>
<body>
    <div align="center">
        <h1>Daftar Barang</h1>
    </div>
    <div>
        <table border="1" cellspacing="0" cellpadding="5" align="center">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nama Barang</th>
                    <th>Harga</th>
                    <th>Stok</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Buku</td>
                    <td>50000</td>
                    <td>20</td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td>Pulpen</td>
                    <td>75000</td>
                    <td>50</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Penggaris</td>
                    <td>25000</td>
                    <td>50</td>
                </tr>
                 <tr>
                    <td>4</td>
                    <td>Penghapus</td>
                    <td>7500</td>
                    <td>50</td>
                </tr>
                
                

            </tbody>
        </table>
    </div>
    <br>
    <a href="/"><button>Kemabli ke Dashboard</button></a>
</body>
</html>
